html, body { 
    margin: 0;
    height: 100%;
    border: 1px solid black;
    font-family: Poppins, Tahoma, Geneva, sans-serif;
}


nav ul li {
    display: inline;
    float: right;
    margin-right: 100px;
    font-size: 16px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

.contact-information {
    width: 1000px;
    margin: auto; 
}

.contact-information li {
    /*list-style-type: circle;*/
    list-style-type: none;
    line-height: 30px;
}

span {
    padding: 15px;
}

footer {
    margin-top: 305px;
    text-align: center;
}


