html, body {
    background-color: #B9D9EB;
    border: 2px solid #8ABADD;
    font-family: Poppins, Tahoma, Geneva, sans-serif;
    margin: 0;
    height: auto;
}

a {
    color: black;
    text-decoration: none;
}

nav ul li {
    display: inline;
    float: right;
    margin-right: 100px;
    font-size: 16px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

.about-container {
    width: 1000px;
    margin: auto;   
    margin-top: 20px;
}

.about-container-hobbies li {
    list-style-type: disc;
}

#funFact {
    display: none;
}

#funFactButton {
    height: 40px;
    width: 100px;
    background-color: #FFF;
    /*border: 2px solid #FFF;*/
    border: 2px solid #FFF;
    box-shadow: 5px 5px gray;
    /*border-radius: 7.5%;*/
    font-family: Poppins, Tahoma, Geneva, sans-serif;
    font-size: 14px;
}

footer {
    margin-top: 60px;
    padding: 15px;
    text-align: center;
}

button:hover {
    cursor: pointer;
}
   
button:active {
    margin-top: 5px;
    box-shadow: 0px 0px;
}

a:focus, a:hover {
    color: #2C6C99;
}

a:active {
    color: #FFF;
}


@media only screen and (max-width: 480px) {

    nav ul {
        justify-content: center;  
        margin-right: 50px;
    }

    nav ul li {
        font-size: 0.75rem;
        margin: 0;
        padding: 15px;
    }

    p {
        font-size: 0.75rem;
    }

    h1 {
        font-size: 1.25rem;
    }

    h2 {
        font-size: 1rem;
    }

    .about-container {
        width: 100%;
    }
    
    .about-container-intro, .about-container-hobbies, 
    .about-container-goals, .about-container-funfact {
        width: 75%;
        margin: 0 40px;
    }

    .about-container-intro li, .about-container-hobbies li, 
    .about-container-goals li, footer {
        font-size: 0.75rem;
    }
    
    #funFactButton {
        width: 75px;
        font-size: 0.75rem;
    }

    .about-container-funfact #funFact {
        width: 90px;
        font-size: 3rem;
    }

}  

@media only screen and (min-width: 481px) and (max-width: 768px) {

    nav ul {
        justify-content: center;  
        margin-right: 50px;
    }

    nav ul li {
        font-size: 1rem;
        margin: 0;
        padding: 15px;
    }

    p {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .about-container {
        width: 100%;
    }
    
    .about-container-intro, .about-container-hobbies, 
    .about-container-goals, .about-container-funfact {
        width: 80%;
        margin: 0 40px;
    }

    /* */
    #funFact .about-container-funfact {
        width: 40px;
    }

    .about-container-intro li, .about-container-hobbies li, 
    .about-container-goals li, footer {
        font-size: 1rem;
    }
    
    #funFactButton {
        width: 100px;
        font-size: 1rem;
    }

}  


@media only screen and (min-width: 769px) and (max-width: 1024px) {

    nav ul {
        justify-content: center;  
        margin-right: 50px;
    }

    nav ul li {
        margin: 0;
        padding: 15px;
    }

    .about-container {
        width: 100%;
    }
    
    .about-container-intro, .about-container-hobbies, 
    .about-container-goals, .about-container-funfact {
        width: 75%;
        margin: 0 60px;
    }
    
    #funFactButton {
        width: 150px;
    }
}
