html, body { 
    background-color: #B9D9EB;
    border: 2px solid #8ABADD;
    box-sizing: border-box;
    font-family: Poppins, Tahoma, Geneva, sans-serif;  
    height: 100%;
    margin: 0;

}

a {
    color: #000;
    text-decoration: none;
}

nav ul li {
    display: inline;
    float: right;
    margin-right: 100px;
    font-size: 16px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

.contact-information {
    width: 1000px;
    margin: auto; 
}

.contact-information-list {
    display: flex;   
    /*list-style-type: circle;*/
    list-style-type: none;
    justify-content: center;
    margin-top: 150px;
}

.contact-information ul li {
    list-style-type: none;
    text-align: center;
}

.list {
    height: 110px;
    width: 500px;
    background-color: #FFF;
    border: 6px double #8ABADD;;
}

span {
    padding: 10px;
}

.forward-slash {
    font-size: 14px;
    padding: 0;
}

footer {
    margin-top: 130px;
    text-align: center;
}

a:focus, a:hover {
    color: #2C6C99;
}

a:active {
    color: #FFF;
}



@media only screen and (max-width: 480px) {

    .container {
        width: 100%;
    }

    nav ul {
        margin-left: 65px;
        justify-content: center;
    }

    .contact-information {
        width: 80%;
    }

    .contact-information h1 {
        margin-top: 150px;
    }

    .contact-information-list {
        width: 100%;
        margin: 30px auto;
        font-size: 0.75rem;
    }

}



@media only screen and (min-width: 481px) and (max-width: 768px) {

    .container {
        width: 100%;
    }

    nav ul {
        margin-left: 60px;
        justify-content: center;
    }

    .contact-information {
        width: 80%;
    }

    .contact-information h1 {
        margin-top: 150px;
    }

    .contact-information-list {
        width: 100%;
        margin: 30px auto;
        font-size: 1rem;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .container {
        width: 100%;
    }
    
    nav ul {
        margin-left: 65px;
        justify-content: center;
    }

    .contact-information {
        width: 80%;
    }
    
    .contact-information-list {
        width: 100%;
        font-size: 1rem;
        margin: 30px auto;
    }

    .contact-information h1 {
        margin-top: 150px;
    }
}
