html, body { 
    margin: 0;
    height: auto;
    border: 1px solid black;
    font-family: Poppins, Tahoma, Geneva, sans-serif;
}

a {
    text-decoration: none;
}

nav ul li {
    display: inline;
    float: right;
    margin-right: 100px;
    font-size: 16px;

}

nav ul {
    display: flex;
    justify-content: flex-end;
    
}

/*********************************/

.projects-container {
    width: 1000px;
    margin: auto; 
    margin-left: 155px;
}

.projects-container-text {
    margin: 0;
}

.project-list li {
    list-style-type: none;
}

.fa .fa-hand-o-right {
    padding: 10px;
}

/*********************************/


img {
    height: 395px;
    width: 598px;
    border: 1px solid black;
}

figcaption {
    border: 1px solid black;
    width: 598px;
}



footer {
    margin-bottom: 20px;
    text-align: center;
    padding: 15px;
}
