html, body { 
    margin: 0;
    height: auto;
    border: 1px solid black;
    font-family: Poppins, Tahoma, Geneva, sans-serif;
}

a {
    text-decoration: none;
}

nav ul li {
    display: inline;
    float: right;
    margin-right: 100px;
    font-size: 16px;

}

nav ul {
    display: flex;
    justify-content: flex-end;
    
}

.projects-container {
    width: 1000px;
    margin: auto; 
    margin-left: 155px;
}

.projects-container-text {
    margin: 0;
}

.projects-container ul {
    list-style-type: none;
}


.projects-container button {
    background-color: transparent;    
    border: none;
}

.fa .fa-hand-o-right {
    padding: 10px;
}

.hideDetails {
    display: none;
}

.image-styles {
    display: block;
    width: 598px;
    height: 395px;
    border: 2px solid black;

}

.text-styles {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 598px;
}

/*
#project-one img {
    height: 290px;
}
*/

footer {
    margin-bottom: 20px;
    text-align: center;
    padding: 15px;
}

