html, body { 
    background-color: #B9D9EB;
    border: 2px solid #8ABADD;
    font-family: Poppins, Tahoma, Geneva, sans-serif;
    height: auto;
    margin: 0;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

nav ul li {
    display: inline;
    float: right;
    margin-right: 100px;
    font-size: 1rem;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

h3 {
    font-size: 1rem;
}

figcaption {
    background-color: #FFF;
}

footer {
    text-align: center;
    padding: 15px;
}

.projects-container {
    width: 1000px;
    margin: auto; 
    margin-left: 155px;
    margin-bottom: 60px;
}

.projects-container-text {
    margin: 0;
}

.projects-container ul {
    list-style-type: none;
}

.projects-container button {
    background-color: transparent;    
    border: none;
}

.fa .fa-hand-o-right {
    padding: 10px;
}

.hideDetails {
    display: none;
}

.image-styles {
    display: block;
    width: 598px;
    height: 350px;
    border: 2px solid black;
}

.text-styles {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    font-family: Poppins, Tahoma, Geneva, sans-serif;
    text-align: center;
    width: 598px;
}

button:hover {
    cursor: pointer;
}

a:focus, a:hover {
    color: #2C6C99;
}

a:active {
    color: #FFF;
}

@media only screen and (max-width: 480px) {

    html, body {
        height: auto;
    }

    nav ul {
        justify-content: center;  
        margin-right: 50px;
    }

    nav ul li {
        font-size: 0.75rem;
        margin: 0;
        padding: 15px;
    }

    p, figcaption, footer {
        font-size: 0.75rem;
    }

    h1 {
        font-size: 1.25rem;
    }

    h2 {
        font-size: 1rem;
    }

    .projects-container, .project-container-text, .project-container-text-two {
        width: 85%;
        margin: 0 20px;
    }

    .button-menu, .button-menu .fa {
        font-size: 0.75rem;
    }

    .image-styles {
        height: 150px;
        width: 85%;
    }

    .text-styles {
        width: 85%;
    }
}  

@media only screen and (min-width: 481px) and (max-width: 768px) {
    
    nav ul {
        margin-left: 60px;
        justify-content: center;
    }
    h1 {
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 1.25rem;
    }

    .projects-container {
        width: 90%;
        margin: 0 40px;
    }

    .hideDetails figcaption {
        width: 240px;
    }
        
    .button-menu, .button-menu .fa {
        font-size: 1rem;
    }
    
    .image-styles {
        height: 300px;
        width: 90%;
    }

    .text-styles {
        font-size: 0.75rem;
        width: 90%;
    }
}
        
@media only screen and (min-width: 769px) and (max-width: 1024px) {
     
    nav ul {
        margin-left: 65px;
        justify-content: center;
    }
    
    h1 {
        font-size: 1.75rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }

    footer {
        margin-bottom: 20px;
    }

    .projects-container {
        width: 90%;
        margin: 0 50px;
    }

    .hideDetails figcaption {
        width: 240px;
    }

    .button-menu, .button-menu .fa {
        font-size: 1rem;
    }

    footer {
        margin-bottom: 0;
    }
}     
